body {
  font-family: "Montserrat", sans-serif;
}

.main-left {
  width: 100vw;
  height: 1200px;
}

.panel-right {
  background: linear-gradient(0deg, rgb(10, 9, 29) 0%, rgb(53, 65, 73) 90%);
}
.mini-footer {
  font-size: 0.85rem;
}

.active {
  background-color: rgb(67, 66, 80);
  border: 1px solid #434250 !important;
}

.menu a:hover {
  background: linear-gradient(
    320deg,
    rgb(116, 28, 175) 23%,
    rgba(252, 176, 69, 1) 100%
  );

  border: 1px solid #6c757d !important;
}

.page-link {
  background-color: transparent;
  color: white;
  padding: 3px 11px 3px 11px;
}
.page-link:hover {
  background-color: rgba(255, 255, 255, 0.26);
  color: white;
}

section.section-title p {
  font-size: 0.85rem;
}

section.section-title h4 {
  text-shadow: 0 0 11px white;
}

section.section-title i {
  font-weight: bold;
}

.bi-gender-female {
  text-shadow: 0 0 10px white;
  color: rgba(252, 176, 69, 1);
}
.bi-gender-male {
  text-shadow: 0 0 10px white;
  color: #f0504a;
}

.users-number {
  text-shadow: 0 0 6px white;
}

.icon-user {
  color: #6c757d;
  transition: 0.3s;
}
.icon-user:hover {
  color: rgb(182, 182, 182);
  transform: scale(1.1);
}
